<template>
    <div id="dashboard">
        <section>
            <div class="col2">
                <div class="profile">
                    <h5>{{ userProfile.name }} - New Post</h5>
                    <p>{{ userProfile.title }}</p>
                    <div class="create-post">
                        <form @submit.prevent>
							<label for="postTitle">title</label>
							<input id="postTitle" v-model.trim="post.title" />
							<label for="postContent">content</label>
							<trumbowyg
								id="postContent"
								v-model.trim="post.content"
								:config="config"
								class="editor"
								name="content"
								svg-path="../assets/icons/icons.svg" >
							</trumbowyg>
                            <button @click="createPost" :disabled="post.content == ''" class="button">post</button>
                        </form>
                    </div>
                </div>
            </div>
		</section>
		<section>
            <div class="col2">
                <transition name="fade">
                    <div v-if="hiddenPosts.length" @click="showNewPosts" class="hidden-posts">
                        <p>
                            Click to show <span class="new-posts">{{ hiddenPosts.length }}</span>
                            new <span v-if="hiddenPosts.length > 1">posts</span><span v-else>post</span>
                        </p>
                    </div>
                </transition>
                <div v-if="posts.length">
                    <div v-for="post in posts" class="post">
                        <h5>{{ post.title }}</h5>
                        <span>by {{ post.userName }}, {{ post.createdOn | formatDate }}</span>
                        <p v-html="post.content"></p>
                        <ul>
                            <li><a @click="editPost(post)">edit</a></li>
							<li><a @click="deletePost(post)">delete</a></li>
                        </ul>
                    </div>
                </div>
                <div v-else>
                    <p class="no-results">There are currently no posts</p>
                </div>
            </div>
        </section>

        <!-- comment modal -->
        <transition name="fade">
            <div v-if="showCommentModal" class="c-modal">
                <div class="c-container">
                    <a @click="closeCommentModal">X</a>
                    <p>add a comment</p>
                    <form @submit.prevent>
                        <textarea v-model.trim="comment.content"></textarea>
                        <button @click="addComment" :disabled="comment.content == ''" class="button">add comment</button>
                    </form>
                </div>
            </div>
        </transition>

        <!-- post modal -->
        <transition name="fade">
            <div v-if="showPostModal" class="p-modal">
                <div class="p-container">
                    <a @click="closePostModal" class="close">X</a>
					<div class="-post">
                        <form @submit.prevent>
							<h5>{{ fullPost.title }}</h5>
                        	<span>by {{ fullPost.userName }}, {{ fullPost.createdOn | formatDate }}</span>
							<trumbowyg
								id="editContent"
								v-model="editContent"
								:config="config"
								class="editor"
								name="content"
								svg-path="../assets/icons/icons.svg" >
							</trumbowyg>
                            <button @click="updatePost" class="button">update</button>
                        </form>
                    </div>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
    import { mapState } from 'vuex'
	import moment from 'moment'
	import trumbowyg from 'vue-trumbowyg';
    const fb = require('../firebaseConfig.js')

    export default {
        data() {
            return {
                post: {
                    content: ''
                },
                comment: {
                    postId: '',
                    userId: '',
                    content: '',
                    postComments: 0
				},
				editContent: '',
                showCommentModal: false,
                showPostModal: false,
				fullPost: {},
				config: {},
                postComments: []
            }
		},
		components: { trumbowyg },
        computed: {
            ...mapState(['userProfile', 'currentUser', 'posts', 'hiddenPosts'])
        },
        methods: {
            createPost() {
                fb.postsCollection.add({
					createdOn: new Date(),
					title: this.post.title,
                    content: this.post.content,
                    userId: this.currentUser.uid,
                    userName: this.userProfile.name,
                    comments: 0,
                    likes: 0
                }).then(ref => {
					this.post.content = ''
					this.post.title = ''
                }).catch(err => {
                    console.log(err)
                })
            },
            showNewPosts() {
                let updatedPostsArray = this.hiddenPosts.concat(this.posts)
                // clear hiddenPosts array and update posts array
                this.$store.commit('setHiddenPosts', null)
                this.$store.commit('setPosts', updatedPostsArray)
            },
            openCommentModal(post) {
                this.comment.postId = post.id
                this.comment.userId = post.userId
                this.comment.postComments = post.comments
                this.showCommentModal = true
            },
            closeCommentModal() {
                this.comment.postId = ''
                this.comment.userId = ''
                this.comment.content = ''
                this.showCommentModal = false
            },
            addComment() {
                let postId = this.comment.postId
                let postComments = this.comment.postComments

                fb.commentsCollection.add({
                    createdOn: new Date(),
                    content: this.comment.content,
                    postId: postId,
                    userId: this.currentUser.uid,
                    userName: this.userProfile.name
                }).then(doc => {
                    fb.postsCollection.doc(postId).update({
                        comments: postComments + 1
                    }).then(() => {
                        this.closeCommentModal()
                    })
                }).catch(err => {
                    console.log(err)
                })
            },
            likePost(postId, postLikes) {
                let docId = `${this.currentUser.uid}_${postId}`

                fb.likesCollection.doc(docId).get().then(doc => {
                    if (doc.exists) { return }

                    fb.likesCollection.doc(docId).set({
                        postId: postId,
                        userId: this.currentUser.uid
                    }).then(() => {
                        // update post likes
                        fb.postsCollection.doc(postId).update({
                            likes: postLikes + 1
                        })
                    })
                }).catch(err => {
                    console.log(err)
                })
            },
            editPost(post) {
                fb.commentsCollection.where('postId', '==', post.id).get().then(docs => {
                    let commentsArray = []

                    docs.forEach(doc => {
                        let comment = doc.data()
                        comment.id = doc.id
                        commentsArray.push(comment)
                    })

                    this.postComments = commentsArray
					this.fullPost = post
					this.editContent = post.content
                    this.showPostModal = true
                }).catch(err => {
                    console.log(err)
                })
			},
			updatePost() {
				fb.postsCollection.doc(this.fullPost.id).update({content: this.editContent}).then(doc => {
					this.closePostModal()
				}).catch(err => {
					console.log(err)
				})
			},
			deletePost(post) {
                fb.postsCollection.doc(post.id).delete().then(doc => {

                }).catch(err => {
                    console.log(err)
                })
			},
            closePostModal() {
                this.postComments = []
                this.showPostModal = false
            }
        },
        filters: {
            formatDate(val) {
                if (!val) { return '-' }
                let date = val.toDate()
                return moment(date).fromNow()
            },
            trimLength(val) {
                if (val.length < 200) { return val }
                return `${val.substring(0, 200)}...`
            }
        }
    }
</script>
