<template>
    <footer>
		<span>This CM portfolio is the <a href="https://gitlab.com/AndrewBellamy/styx" >Styx</a> project, amalgamated by Andrew Bellamy.</span>
	</footer>
</template>

<script>
	export default {

	}
</script>
