<template>
    <div id="index">
		<Tools></Tools>
        <section>
            <div class="col1">
				<div v-if="posts.length">
					<div class="blog-card">
						<div v-for="post in posts" class="content">
							<h4>{{ post.title }}</h4>
							<span>by {{ post.userName }}, {{ post.createdOn | formatDate }}</span>
							<p v-html="$options.filters.trimLength(post.content)"></p>
						</div>
						<div class="header">
							<router-link to="blog">blog</router-link>
						</div>
					</div>
                </div>
                <div v-else>
                    <p class="no-results">There are currently no posts</p>
                </div>
            </div>
			<div class="col2">
				<div class="card">
					<div class="header">
						<h4>about</h4>
					</div>
					<div class="content">
						<div class="profile-image">
							<img src="../assets/images/Headshot.png" alt="Profile Picture" />
						</div>
						<p>I'm a senior developer for the Department of Human Services.</p>
						<p>I work hard, design UI, manage small teams and write code.</p>
						<p>I'm motivated by delivering user centric designed solutions, with the highest quality, ethics and practise.</p>
						<a href="mailto:abellamy@deakin.edu.au">abellamy@deakin.edu.au</a>
					</div>
				</div>
			</div>
        </section>
		<section>
			<div class="col3">
				<div class="card">
					<div class="header">
						<h4>qualifications</h4>
					</div>
					<div class="content">
						<div class="degree">
							<img src="../assets/images/logo-deakin.png" alt="Deakin University Logo">
							<div class="details">
								<p>Bachelor of Information Technology</p>
								<span>2020</span>
							</div>
						</div>
						<div class="degree">
							<img src="../assets/images/logo-deakin.png" alt="Deakin University Logo">
							<div class="details">
								<p>Bachelor of Information Systems</p>
								<span>2020</span>
							</div>
						</div>
						<div class="degree">
							<img src="../assets/images/golden-key.png" alt="Golden Key Logo">
							<div class="details">
								<p>Golden Key International Honours Society</p>
								<span>2018</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col1">
				<div class="card">
					<div class="header">
						<h4>skills</h4>
					</div>
					<div class="content">
						<div class="skill">
							<p>Javascript</p>
							<div class="knowledge">
								<div class="progress" data-progress="90" ></div>
							</div>
						</div>
						<div class="skill">
							<p>Communication</p>
							<div class="knowledge">
								<div class="progress" data-progress="90" ></div>
							</div>
						</div>
						<div class="skill">
							<p>PHP</p>
							<div class="knowledge">
								<div class="progress" data-progress="70" ></div>
							</div>
						</div>
						<div class="skill">
							<p>Angular</p>
							<div class="knowledge">
								<div class="progress" data-progress="80" ></div>
							</div>
						</div>
						<div class="skill">
							<p>Agile</p>
							<div class="knowledge">
								<div class="progress" data-progress="70" ></div>
							</div>
						</div>
						<div class="skill">
							<p>C#</p>
							<div class="knowledge">
								<div class="progress" data-progress="80" ></div>
							</div>
						</div>
						<div class="skill">
							<p>Android (Java)</p>
							<div class="knowledge">
								<div class="progress" data-progress="70" ></div>
							</div>
						</div>
						<div class="skill">
							<p>Teamwork</p>
							<div class="knowledge">
								<div class="progress" data-progress="80" ></div>
							</div>
						</div>
						<div class="skill">
							<p>iOS (Swift)</p>
							<div class="knowledge">
								<div class="progress" data-progress="70" ></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section>
			<div class="col1">
				<div class="card">
					<div class="header">
						<h4>experience</h4>
					</div>
					<div class="content">
						<h5>Developer</h5>
						<span>Oct 2015 – Present</span>
						<p>Development of UI, using SAP HANA/UI5.</p>
						<h5>Corporate Support</h5>
						<span>May 2015 – Oct 2015</span>
						<p>Support in all areas of the corporate workspace. I've organised contractors and couriers, negotiated with stakeholders.
						Taken responsibility of public money (now known as relevant money, under the AGPA Act) and maintained the corporate functions of offices and service centres.</p>
						<h5>Service Officer</h5>
						<span>Apr 2007 – May 2015</span>
						<p>Authorised the subsidy of medications under the Pharmaceutical Benefits Scheme</p>
					</div>
				</div>
			</div>
		</section>
		<Footer></Footer>
    </div>
</template>
<script>
    import { mapState } from 'vuex'
	import moment from 'moment'
	import Tools from './Tools.vue'
	import Footer from './Footer.vue'
    const fb = require('../firebaseConfig.js')

    export default {
		data() {
            return {
                post: {
                    content: ''
                },
                comment: {
                    postId: '',
                    userId: '',
                    content: '',
                    postComments: 0
                },
                showCommentModal: false,
                showPostModal: false,
                fullPost: {},
                postComments: []
            }
		},
		components: { Tools,Footer },
        computed: {
            ...mapState(['userProfile', 'currentUser', 'posts', 'hiddenPosts'])
		},
		created() {
			fb.postsCollection.orderBy('createdOn', 'desc').limit(1).onSnapshot(querySnapshot => {
                let postsArray = []
                querySnapshot.forEach(doc => {
                    let post = doc.data()
                    post.id = doc.id
                    postsArray.push(post)
                })
                this.$store.commit('setPosts', postsArray)
			})
		},
		filters: {
            formatDate(val) {
                if (!val) { return '-' }
                let date = val.toDate()
                return moment(date).fromNow()
            },
            trimLength(val) {
                if (val.length < 600) { return val }
                return `${val.substring(0, 600)}\n<span><em>Read more in my blog, click the link...</em></span>`
            }
        }
	}
</script>
