<template>
    <header>
		<div class="tools">
			<h1>Andrew Bellamy</h1>
			<ul class="inline">
				<li><a href="https://gitlab.com/AndrewBellamy"><img src="../assets/icons/gitlab.png" class="icon-link" /></a></li>
				<li><a href="https://www.linkedin.com/in/andrew-bellamy-62b143109/"><img src="../assets/icons/linkedIn.png" class="icon-link" /></a></li>
				<li><a href="https://www.deviantart.com/andrewbellamy"><img src="../assets/icons/DeviantArt.png" class="icon-link" /></a></li>
			</ul>
		</div>
    </header>
</template>

<script>
	export default {

	}
</script>
