<template>
    <div id="app">
		<Title title="Andrew Bellamy" ></Title>
        <Navigation v-if="currentUser"></Navigation>
		<transition name="fade">
    		<router-view/>
		</transition>
    </div>
</template>

<script>
    import { mapState } from 'vuex'
	import Navigation from './components/Navigation.vue'
	import Title from './components/Title.vue'

    export default {
        components: { Navigation, Title },
        computed: {
            ...mapState(['currentUser'])
        }
    }
</script>
